[core]
	excludesfile = /home/hanxiao/GitIgnoreGlobal/ignore_gloabl
[user]
	name = hanxiao
	email = hanxiaoguang@aiforcetech.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
