
/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

.markdown-preview.markdown-preview {
  // modify your style here
  // eg: background-color: blue;
  font-family: "MiWithJBMonoHalfNL", "MiSans","Source Han Sans SC", sans-serif;
  font-size: 16px
}

  /* 1. 控制「所有代码块」 */
.markdown-preview .code,
.markdown-preview pre code {
  font-family: "JetBrains Mono", "Source Code Pro", "Consolas", monospace;
}

/* 2. 控制「行内代码」 */
.markdown-preview code:not(pre code) {
  font-family: "JetBrains Mono", monospace;
  font-size: 0.9em;
}
